<!-- Toolbar -->
<mat-toolbar class="mat-elevation-z2" color="primary">
  <span><a routerLink="/">Great Job Poopin'</a></span>

  <nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a routerLink="/test" routerLinkActive="active">Dog-e list</a>
      </li>
    </ul>
  </nav>
</mat-toolbar>

<h1 style="text-align: center; font-family: 'Roboto';">
  {{ title }} app is running!
</h1>

<router-outlet></router-outlet>
